/*  your css code here. If applicable */
.container{
	width : 1100px;
	margin: 0 auto;
}
 .imageContainer img {
            width: 60%;
            height: auto;
            display: block;
            margin-bottom: 20px;
        }

        table {
            width: 1100px;
            border-collapse: collapse;
        }

        td {
            vertical-align: top;
            padding: 10px;
        }

        td img {
            width: 100%;
            height: auto;
        }